POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

LOGER_LEVEL=

REDIS_PASSWORD=
REDIS_TIMEOUT=

KAFKA_ADDRESS=
LOG_AUTH_TOPIC=
LOG_AUTH_GROUP_ID=
LOG_GEO_TOPIC=
LOG_GEO_GROUP_ID=
LOG_ROOMS_TOPIC=
LOG_ROOMS_GROUP_ID=